* {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  box-sizing: border-box;
}
.hidden {
  display: none;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: rgb(65, 65, 65);
  margin-bottom: 20px;
}

.subtitle {
  color: rgb(65, 65, 65);
  margin-bottom: 15px;
}

.select_form {
  border: gray solid 2px;
  padding: 3px;
}

.btn_submit {
  background-color: rgb(45, 175, 154);
  padding: 4px;
  border: none;
  border-radius: 5px;
  color: white;
}

.message {
  background-color: rgb(45, 175, 154);
  padding: 4px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  min-width: 200px;
  text-align: center;
}

.btn_restart {
  background-color: rgb(45, 175, 154);
  padding: 4px;
  border: none;
  border-radius: 5px;
  color: white;
}

@keyframes randomPcResult {
  0% {
    background-image: url(../images/piedra.png);
  }
  50% {
    background-image: url(../images/papel.jpg);

  }
  100%{
    background-image: url(../images/tijeras.jpg);
  }
}

.pc_img {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  animation-name: randomPcResult;
  animation-duration:.3s;
  animation-iteration-count:infinite;
} 