<div class="main__container">
  <h1 class="main__title">Piedra, Papel o Tijera</h1>
  <h2 class="main__subtitle">
    ¿Vencerás en este trepidante juego? ¿Podrás salvar a la humanidad del
    malvado robot R.A.N.D.Y.
    <span class="main__subtitle--random">(Random automated </span
    ><span class="js-random-n-word main__subtitle--random"></span>
    <span class="js-random-d-word main__subtitle--random"></span>
    <span class="js-random-y-word main__subtitle--random"></span
    ><span class="main__subtitle--random">)</span> ?
  </h2>
  <a href="#game"><i class="fas fa-arrow-down main__arrow"></i></a>
</div>
