<footer class="footer">
  <small class="footer__small">Developed by Sara Palomo Campesino. 2022</small>
  <div class="footer__contact">
    <a href="https://github.com/sarapalcam" target="_blank"
      ><i class="fab fa-github-alt footer__contact--github"></i
    ></a>
    <a href="https://www.linkedin.com/in/sara-palomo-campesino/" target="_blank"
      ><i class="fab fa-linkedin footer__contact--linkedin"></i
    ></a>
    <a href="https://www.instagram.com/saradibujicos/?hl=es" target="_blank"
      ><i class="fab fa-instagram footer__contact--instagram"></i
    ></a>
  </div>
</footer>
