$titleFont: 'Comfortaa', cursive;
$textFont: "Lato", sans-serif;

$backgroundColorLanding: rgb(0, 0, 0);
$titleColorLanding: rgb(223, 186, 65);
$subtitleColorLanding: rgb(255, 255, 255);

$backgroundColorGame: rgb(255, 255, 255);
$titleColorGame: rgb(19, 19, 51);
$textColorGame:rgb(0, 0, 0);
$detailsColorGame: rgb(223, 186, 65);