.game__container {
    min-height: calc(100vh - 100px);
    background-color: $backgroundColorGame;
    padding: 12% 0;
    @include tablet {
      padding: 4% 0;
      min-height: calc(100vh - 600px);
      
    }
    @include desktop{
      padding: 1% 10%;
      height: calc(100vh - 330px);
    }
  }
 