.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @include desktop {
    margin-top: 1%;
  }
  &__message {
    font-family: $textFont;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    @include tablet {
      font-size: 24px;
      line-height: 20px;
      margin: 0px;
    }
    @include desktop {
      margin: 15px 0;
      text-align: center;
    }
    &--container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include tablet {
        flex-direction: column;
      }
      @include desktop {
        min-width: 400px;
      }
    }
  }
  &__restart {
    margin: 0 0 15px 15px;
    font-family: $titleFont;
    font-size: 18px;
    font-weight: bold;
    background-color: $detailsColorGame;
    border: none;
    padding: 6px 0;
    border-radius: 50px;
    width: 200px;
    cursor: pointer;
    @include tablet {
      margin: 40px 0 0 0;
    }
    @include desktop {
      margin: 20px 0 0 0;
    }
  }
  &__display {
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      min-width: 530px;
      justify-content: space-between;
    }
    @include desktop {
      margin: 0;
    }
    &--text {
      font-family: $textFont;
      font-size: 16px;
      margin: 20px 0;
      max-width: 150px;
      text-align: center;
      @include tablet {
        text-align: left;
        font-size: 18px;
        margin: 40px 0;
        max-width: 220px;
      }
    }
    &--player {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5px;
    }
    &--pc {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &--img {
        width: 200px;
        height: 200px;
        background-position: center center;
        background-size: cover;
        animation: randomPcResult 0.4s ease-in-out infinite;
      }
    }
  }

  &__total--message {
    font-family: $textFont;
    font-size: 18px;
    text-align: center;
    color: $backgroundColorGame;
    margin: 25px 0;
    background-color: $titleColorGame;
    padding: 10px 15px;
    min-width: 280px;
    max-width: 300px;
    border-radius: 50px;
    @include tablet {
      margin: 35px 0;
    }
    @include desktop {
      margin-top: 20px;
    }
  }
}

.hidden {
  display: none;
}

.images_responsive {
  width: 120px;
  height: 120px;
  @include tablet {
    width: 220px;
    height: 220px;
  }
}
